<%- include("../common/header_main",{title: "FaceBluff - Perfil", style: "css/profile.css"})%>
		<div id="main-content">
			<h2 class="text-center">Tu Perfil</h2>
			<div id="perfil">
				<img src="../../avatar_imgs/Casper-01.png">
				<div id="prof-description">
					<h3 class="text-large" id="prof-name">Casper Maria Rodriguez</h3>
					<p>33 años</p>
					<p>Hombre</p>
					<p>50 puntos</p>
				</div>
			</div>
			<a class="purple-bt" href="#">Modificar Perfil</a>
		</div>
	</body>
</html>