<%- include("../common/header_main",{title: "FaceBluff - Perfil", style: "css/profile.css"})%>
		<div id="main-content">
			<h2 class="text-center">Tu Perfil</h2>
			<div id="perfil">
				<img src="prof_image">
				<div id="prof-description">
					<h3 class="text-large" id="prof-name"><%=name%></h3>
					<p><%=age%></p>
					<p><%=gender%></p>
				</div>
			</div>
			<a class="purple-bt" href="#">Modificar Perfil</a>
		</div>
	</body>
</html>