<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Iniciar Sesión - FaceBluff</title>
		<link href="../../public/css/common.css" rel="stylesheet" type="text/css">
		<link href="../../public/css/authentication/login.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<header>
			<img src="../../public/img/logo.png"/>
		</header>
		<nav>
			<ul class="menu horizontal-list">
				<li>
					<a href="../authentication/login.html">Entrar</a>
				</li>
				<li>
					<a href="register.html">Nuevo Usuario</a>
				</li>
			</ul>
		</nav>
		<div id="main-content">
			<h2 class="text-center">Entrar</h2>
			<form id="login">
				<div class="container">
					<label class="left" for="email">Email</label>
					<input class="right" id="email" type="text" name="email">
					<label class="left" for="password">Contraseña</label>
					<input class="right" id="password" type="password" name="password">
				</div>
				<input class="submit-button purple-bt text-medium" type="submit" value="Conectar">
			</form>
		</div>
	</body>
</html>