<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="../../public/css/common.css">
		<link href="../../public/css/friends/friends.css" rel="stylesheet" type="text/css">
		<meta charset="UTF-8">
		<title>Amigos - FaceBluff</title>
	</head>
	<body>
		<header>
			<img src="../../public/img/logo.png"/>
		</header>
		<nav>
			<ul class="menu horizontal-list">
				<li>
					<a href="../profile/profile.ejs">Perfil</a>
				</li>
				<li>
					<a href="/friends.html">Amigos</a>
				</li>
				<li>
					<a href="../question/questions_list.ejs">Preguntas</a>
				</li>
				<li>
					<a href="#">Desconectar</a>
				</li>
				<li id="user-profile">
					<img  src="../../avatar_imgs/Casper-01.png" >
					<p>50 pts</p>
				</li>
			</ul>
		</nav>
		<div id="main-content">
			<h2 class="text-center">Solicitudes de Amistad</h2>
			<ul class="users-list">
				<li>
					<div class="user-profile">
						<img src="../../avatar_imgs/Witch-01.png">
						<p>Bruja Piruja</p>
					</div>
					<div class="friend-button">
						<a class="purple-bt">Aceptar</a>
						<a class="purple-bt">Rechazar</a>
					</div>
				</li>
				<li>
					<div class="user-profile">
						<img src="../views/common/icons/Minion%20Pig-01.png">
						<p>Stuart Minion</p>
					</div>
					<div class="friend-button">
						<a class="purple-bt">Aceptar</a>
						<a class="purple-bt">Rechazar</a>
					</div>
				</li>
			</ul>
			<h2 class="text-center">Búsqueda de Amigos</h2>
			<form id="search_form">
				<label for="search">Buscar por Nombre</label>
				<input id="search" type="text" name="search">
				<input class="purple-bt text-large" type="submit" name="submit" value="Buscar">
			</form>
			<h2 class="text-center">Mis Amigos</h2>
			<ul class="users-list">
				<li>
					<div class="user-profile">
						<img src="../../avatar_imgs/Mike-01.png">
						<p>Mike Wazowski</p>
					</div>
				</li>
				<li>
					<div class="user-profile">
						<img src="../../avatar_imgs/Pinhead-01.png">
						<p>Lucía Pinhead</p>
					</div>

				</li>
			</ul>
		</div>
	</body>
</html>