<%- include("../common/header_main",{title: "FaceBluff - Amigos", style: "css/friends.css"})%>
		<div id="main-content">
			<h2 class="text-center">Solicitudes de Amistad</h2>
			<ul class="users-list">
				<li>
					<div class="user-profile">
						<img src="../../avatar_imgs/Witch-01.png">
						<p>Bruja Piruja</p>
					</div>
					<div class="friend-button">
						<a class="purple-bt">Aceptar</a>
						<a class="purple-bt">Rechazar</a>
					</div>
				</li>
				<li>
					<div class="user-profile">
						<img src="../views/common/icons/Minion%20Pig-01.png">
						<p>Stuart Minion</p>
					</div>
					<div class="friend-button">
						<a class="purple-bt">Aceptar</a>
						<a class="purple-bt">Rechazar</a>
					</div>
				</li>
			</ul>
			<h2 class="text-center">Búsqueda de Amigos</h2>
			<form id="search_form">
				<label for="search">Buscar por Nombre</label>
				<input id="search" type="text" name="search">
				<input class="purple-bt text-large" type="submit" name="submit" value="Buscar">
			</form>
			<h2 class="text-center">Mis Amigos</h2>
			<ul class="users-list">
				<li>
					<div class="user-profile">
						<img src="../../avatar_imgs/Mike-01.png">
						<p>Mike Wazowski</p>
					</div>
				</li>
				<li>
					<div class="user-profile">
						<img src="../../avatar_imgs/Pinhead-01.png">
						<p>Lucía Pinhead</p>
					</div>

				</li>
			</ul>
		</div>
	</body>
</html>