.friend-button a {
    margin-left: 10px;
}

#search_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 25px;
}

#search_form label {
    margin-right: 10px;
}

#search_form input[type="text"] {
    align-self: stretch;
    flex-grow: 1;
}

#search_form input[type="submit"] {
    margin-left: 10px;
}

.pendInfo {
    font-family: GloriaHallelujah, serif;
    margin-left: 20px;
    letter-spacing: 2px;
    background-color: rgba(189,50,206,0.5);
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}




