#main-content img {
    width: 150px;
    border: 2px solid black;
    float: left;
    margin-left: 50px;
    margin-right: 30px;
    overflow: hidden;
}



#prof-description {
    float: left;
}

h3 {
    font-family: GloriaHallelujah, serif;
    margin: 10px;
}

#perfil p {
    margin: 10px;
}

#perfil {
    overflow: auto;
    background-color: rgba(208,59,254,0.2);
    padding: 10px;
    border-radius: 20px;
}

#main-content a {
    display: block;
    clear: both;
    width: 130px;
}



.modification {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    background-color: rgba(208,59,254,0.2);
    border-radius: 20px;
}


#gallery_form {
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
}

#gallery_form label {
    font-family: GloriaHallelujah, serif;
    display: block;

}

#gallery_form input[type="file"] {
    float:left;
    margin-top: 10px;
    margin-left: 10px;
}

#gallery_form input[type="submit"]
{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
