<%- include("../common/header_main",{title: "FaceBluff - Preguntas Seleccionadas", style: "css/questions_list.css"})%>
    <div id="main-content">
        <h2 class="text-center">Preguntas seleccionadas aleatoriamente</h2>
            <ul id="search-results">
                <li class="question-list-item">
                    <a href="#">¿Cuál es la peor película de la historia?</a>
                </li>
                <li class="question-list-item">
                    <a href="#"> ¿En qué escuela primaria estudiaste?</a>
                </li>
                <li class="question-list-item">
                    <a href="questions_page.ejs">¿Nintendo Switch, PS4, o Xbox One?</a>
                </li>
                <li class="question-list-item">
                    <a href="#">  ¿Cuál es tu plato favorito?</a>
                </li>
                <li class="question-list-item">
                    <a href="#">  ¿Cuál es el personaje más irritante de Juego de Tronos?</a>
                </li>
            </ul>
        <h2 class="text-center">¡Añade tus preguntas!</h2>
        <div class="text-center">
            <p class="purple-bt">
                Crear nueva pregunta
            </p>
        </div>
    </div>
</body>
</html>