<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="../../public/css/questions/questions_page.css">
    <meta charset="UTF-8">
    <title>Pregunta - FaceBluff</title>
</head>
<body>
    <header>
        <img src="../../public/img/logo.png"/>
    </header>
    <nav>
        <ul class="menu horizontal-list">
            <li>
                <a href="../profile/profile.ejs">Perfil</a>
            </li>
            <li>
                <a href="../friends/friends.ejs">Amigos</a>
            </li>
            <li>
                <a href="questions_list.ejs">Preguntas</a>
            </li>
            <li>
                <a href="#">Desconectar</a>
            </li>
            <li id="user-profile">
                <img  src="../../avatar_imgs/Casper-01.png" >
                <p>50 pts</p>
            </li>
        </ul>
    </nav>
    <div id="main-content">
        <h2 class="text-center">¿Nintendo Swith, PS4, o Xbox One?</h2>
        <p>No has contestado a esta pregunta</p>
        <a href="../answer/answer_form.ejs" class="purple-bt text-large">
            Contestar pregunta
        </a>
        <p>Los siguientes amigos han contestado a esta pregunta:</p>
        <ul class="users-list">
            <li>
                <div class="user-profile">
                    <img src="../../avatar_imgs/Witch-01.png">
                    <p>Bruja Piruja</p>
                </div>
                <a href="../answer/friend_answer_form.ejs" class="purple-bt">Adivinar</a>
            </li>
            <li>
                <div class="user-profile">
                    <img src="../../avatar_imgs/Hannibal-01.png">
                    <p>Hannibal Gómez</p>
                </div>
                <a href="../answer/friend_answer_form.ejs" class="purple-bt">Adivinar</a>
            </li>
            <li>
                <div class="user-profile">
                    <img src="../../avatar_imgs/Stuart-01.png">
                    <p>Stuart Minion</p>
                </div>
                <p class="correct-answer">Has acertado</p>
            </li>
            <li>
                <div class="user-profile">
                    <img src="../../avatar_imgs/Goomba-01.png">
                    <p class="friend-username">Goomba</p>
                </div>
                <p class="wrong-answer">Has fallado</p>
            </li>
        </ul>
    </div>
</body>
</html>