<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../public/css/common.css">
    <meta charset="UTF-8">
    <title>Búsqueda - FaceBluff</title>
</head>
<body>
    <header>
        <img src="../../public/img/logo.png"/>
    </header>
    <nav>
        <ul class="menu horizontal-list">
            <li>
                <a href="../profile/profile.ejs">Perfil</a>
            </li>
            <li>
                <a href="../friends/friends.ejs">Amigos</a>
            </li>
            <li>
                <a href="../question/questions_list.ejs">Preguntas</a>
            </li>
            <li>
                <a href="#">Desconectar</a>
            </li>
            <li id="user-profile">
                <img  src="../../avatar_imgs/Casper-01.png" >
                <p>50 pts</p>
            </li>
        </ul>
    </nav>
    <div id="main-content">
        <h2 class="text-center">Resultados de búsqueda: 'e'</h2>
            <ul class="users-list">
                <li>
                    <div class="user-profile">
                        <img src="../../avatar_imgs/Casper-01.png">
                        <p>Lucía Pinhead</p>
                    </div>
                    <p class="purple-bt">Solicitar amistad</p>
                </li>
                <li>
                    <div class="user-profile">
                        <img src="../../avatar_imgs/Mike-01.png">
                        <p>Mike Mazowski</p>
                    </div>
                    <p class="purple-bt">Solicitar amistad</p>
                </li>
            </ul>
    </div>
</body>
</html>