<%- include("../common/header_main",{title: "FaceBluff - Búsqueda", style: ""})%>
    <div id="main-content">
        <h2 class="text-center">Resultados de búsqueda: 'e'</h2>
            <ul class="users-list">
                <li>
                    <div class="user-profile">
                        <img src="../../avatar_imgs/Casper-01.png">
                        <p>Lucía Pinhead</p>
                    </div>
                    <p class="purple-bt">Solicitar amistad</p>
                </li>
                <li>
                    <div class="user-profile">
                        <img src="../../avatar_imgs/Mike-01.png">
                        <p>Mike Mazowski</p>
                    </div>
                    <p class="purple-bt">Solicitar amistad</p>
                </li>
            </ul>
    </div>
</body>
</html>