<%- include("./../../common/view/header_log",{title: "FaceBluff - Iniciar Sesión", style: "css/login.css"})%>
		<div id="main-content">
			<h2 class="text-center">Entrar</h2>
            <%- include("../../common/view/alerts")%>
			<form id="login" method="post" action="login" enctype="multipart/form-data">
				<div class="container">
					<label class="left" for="email">Email</label>
					<input class="right" id="email" type="text" name="email">
					<label class="left" for="password">Contraseña</label>
					<input class="right" id="password" type="password" name="password">
				</div>
				<input class="submit-button purple-bt text-medium" type="submit" value="Conectar">
			</form>
		</div>
	</body>
</html>