<%- include("./../../common/view/header_log",{title: "FaceBluff - Nuevo Usuario", style: "css/login.css"})%>
		<div id="main-content">
			<h2 class="text-center">Nuevo Usuario</h2>
			<form id="register" method="post" action="register">
				<div class="container">
					<label class="left" for="email">Email</label>
					<input class="right" id="email" type="text" name="email">
					<label class="left" for="password">Contraseña</label>
					<input class="right" id="password" type="password" name="password">
					<label class="left" for="name">Nombre Completo</label>
					<input class="right" id="name" type="text" name="name">
					<label class="left" >Sexo</label>
					<div class="right">
						<input id="male" type="radio" name="gender" value="male">
						<label for="male">Masculino</label>
						<input id="female" type="radio" name="gender" value="female">
						<label for="female">Feminimo</label>
						<input id="other" type="radio" name="gender" value="other">
						<label for="other">Otro</label>
					</div>
					<label class="left" for="dob">Fecha de Nacimiento</label>
					<input class="right" id="dob" type="date" name="dob">
					<label class="left" for="image">Imagen de Perfil</label>
					<input class="right" id="image" type="file" name="image">
				</div>
				<input class="submit-button purple-bt text-medium" type="submit" value="Crear Usuario">
			</form>
		</div>
	</body>
</html>