/*
 * Font declarations
 */
@font-face {
    font-family: GloriaHallelujah;
    src: url('../../fonts/GloriaHallelujah.ttf');
}

#main-content
{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.search-result-user-img
{
    align-self: flex-start;
    height: 40px;
    vertical-align: middle;
    width: auto;
    border: solid;
    border-width: 1px;
}

.search-result-username
{
    align-self: flex-start;
    font-family: Arial,monospace;
    display: inline;
}

.friendship-request-bt
{
    margin: 0;
    align-self: center;
    text-align: center;
    background-color: #d03bfe;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

header
{
    height: 140px;
}

body{
    font-family: GloriaHallelujah, serif;
}

#search-results
{
    list-style: none;
}

#search-results > li
{
    flex-direction: row;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

h2
{
    text-align: center;
}