<nav>
    <ul class="menu horizontal-list">
        <li>
            <a href="../profile/profile.html">Perfil</a>
        </li>
        <li>
            <a href="../friends/friends.html">Amigos</a>
        </li>
        <li>
            <a href="../question/questions_list.html">Preguntas</a>
        </li>
        <li>
            <a href="#">Desconectar</a>
        </li>
        <li id="user-profile">
            <img  src="../../avatar_imgs/Casper-01.png" >
            <p>50 pts</p>
        </li>
    </ul>
</nav>