<%let errors = getAlert();%>
<%if (errors){%>

    <%if(errors.type === "error"){%>
    <div class="alert-error">
        <%for (elem of errors.alertList){%>
        <p><%=elem.msg%></p>
        <%}%>
    </div>
    <%}else if(errors.type === "success"){%>
    <div class="alert-success">
        <%for (elem of errors.alertList){%>
        <p><%=elem.msg%></p>
        <%}%>
    </div>
    <%}%>
<%}%>