<%let alerts = getAlert();%>
<%if (alerts){%>

    <%if(alerts.type === "error"){%>
    <div class="alert-error">
        <%for (elem of alerts.alertList){%>
        <p><%=elem.msg%></p>
        <%}%>
    </div>
    <%}else if(alerts.type === "success"){%>
    <div class="alert-success">
        <%for (elem of alerts.alertList){%>
        <p><%=elem.msg%></p>
        <%}%>
    </div>
    <%}%>
<%}%>